@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-brown: #412b15;
  --secondary-brown: #513800;
  --accent-yellow: #fcc201;
  --accent-secondary-yellow: #bf9840;
  --black: #111111;

  --background: #f9f6ee;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #f9f6ee;
  }
} */
